:root {
  --block-width: 40px;
  --board-bg: rgb(221, 248, 198);
}

* {
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: whitesmoke;
}

.board {
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  border: 1px solid black;
  background-color: var(--board-bg);
}

.block {
  /* border: 1px solid black; */
  background-color: var(--board-bg);
  width: var(--block-width);
  height: var(--block-width);
}

.player {
  background-color: rgb(60, 167, 46);
  border-radius: 10px;
}

.fruit {
  background-image: url('./public/fruit.png');
  background-size: cover;
}